$main-font: Avenir Next;

$light-primary: #ffffff;
$pink-primary: #be40d3;
$input-field-primary: #eff1f9;
$red-alert: #ff0000;
$dark-secodary: #2c2d33;
$font-grey: #53545c;
$font-grey-secondary: #45464e;
$border-black: #000000;
$border-light: #1111;

@mixin btn-primary {
  background-color: $dark-primary;
  color: $very-light-secondary;
  margin: 10px;
}

@mixin form-style {
  .content {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 460px;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      h3 {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 22px;
        span {
          color: $pink-primary;
        }
      }
      p {
        margin: 0;
        color: #8b8d97;
        font-size: 16px;
        font-weight: 200;
      }
    }
    .form {
      height: 340px;

      form {
        display: flex;
        flex-direction: column;

        .input-field {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 52px;
          border: solid 0.5px $border-black;
          border-radius: 20px;
          padding: 20px;
          background-color: $input-field-primary;
          margin: 12px 0px;

          input {
            width: 300px;
            border: none;
            background-color: $input-field-primary;
            padding: 10px 10px;
            outline: none;
            font-size: 17px;
            font-family: $main-font;
            line-height: 23px;
          }

          span img {
            cursor: pointer;
          }
        }

        .sub-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 198px;
          .submit {
            display: flex;
            justify-content: center;
            height: 64px;

            button.submit-btn {
              align-self: self-end;
              background-color: $border-black;
              color: $light-primary;
              width: 180px;
              height: 58px;
              border-radius: 20px;
              padding: 16px;
              font-size: 19px;
              border: none;
            }
          }
          .recover-pass {
            margin-top: 0px;
            color: $pink-primary;
            font-size: 16px;
            font-weight: 200;
            align-self: self-end;
          }
          .incorrect {
            color: $red-alert;
            text-align: center;
          }
          .sign-up {
            p {
              text-align: center;
              color: #8b8d97;
              font-weight: 200;
              span {
                color: $pink-primary;
                font-size: 16px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      width: 100%;
    }
  }
}
