<section class="login-form">
    <ng-container *ngIf="isRegistered$ | async as isRegistered else isNotRegistered">
        <div class="container">
            <div class="content">
                <div class="title">
                    <h4>Welcome back!</h4>
                    <p>Login to ypur account</p>
                </div>
                <div class="form">
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmitted(loginForm)">
                        <input type="text" formControlName="email" placeholder="Email">
                        <input type="text" formControlName="password" placeholder="Password">
                        <div class="submit">
                            <p>Don't have an account?<span class="sign-up-btn" (click)="onSignUp(false)"> Sign up</span>
                            </p>
                            <button class="submit-btn" mat-raised-button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #isNotRegistered>
        <div class="container">
            <div class="content">
                <div class="title">
                    <h4>Get started with Coffee Shop</h4>
                    <p>Create ypur account</p>
                </div>
                <div class="form">
                    <form [formGroup]="registerForm" (ngSubmit)="onregisterFormSubmitted(registerForm)">
                        <input type="text" formControlName="email" placeholder="Email">
                        <input type="text" formControlName="password" placeholder="Password">
                        <input type="text" formControlName="confirmPassword" placeholder="Confirm Password">
                        <div class="submit">
                            <p>Already have an account?<span class="sign-up-btn" (click)="onSignUp(true)"> Login</span>
                            </p>
                            <button class="submit-btn" mat-raised-button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
</section>