<section class="content">
    <ng-container *ngIf="loginButtonSelected$ | async as loginButtonSelected">
        <app-login-buttons [loginButtons]="loginButtons" [loginButtonSelected]="loginButtonSelected"
            (buttonSelected)="onButtonSelected($event)" class="buttons">
        </app-login-buttons>

        <ng-container *ngIf="loginButtonSelected === 'LogIn'">
            <div class="forms">
                <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmitted(loginForm)">
                    <div class="form-field">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email" placeholder="Email">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput type="text" formControlName="password" placeholder="Password">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-raised-button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </ng-container>
        <ng-container *ngIf="loginButtonSelected === 'Register'">
            <form [formGroup]="registerForm" (ngSubmit)="onLoginFormSubmitted(loginForm)">
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" placeholder="Email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="text" formControlName="password" placeholder="Password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="text" formControlName="confirmPassword" placeholder="Confirm Password">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button type="submit">Submit</button>
                </div>
            </form>
        </ng-container>
    </ng-container>
</section>