<div class="detail">
    <button mat-raised-button [routerLink]="'/'">Back</button>

    <div class="detail-card">
        <div class="detail-card-content" *ngIf="coffeeDetailWithCharacteristics$ | async as coffee">
            <div class="title">
                <h1>{{coffee.name}}</h1>
                <h2>{{coffee.origin}}</h2>
            </div>
            <div class="content">
                <img [src]="'http://localhost:3000/files/' + coffee.image" alt="">
                <p>{{coffee.description}}</p>
            </div>
            <div class="details">
                <div>process: {{coffee.process.name}}</div>
                <div>characteristics:
                    <span *ngFor="let char of coffee.characteristic"> {{char.name}}</span>
                </div>
            </div>
            <div class="action">
                <button mat-raised-button (click)="onUpdate(coffee)">Update</button>
                <button mat-raised-button (click)="onDelete(coffee.id!)">Delete</button>
            </div>
        </div>
    </div>
</div>