<div class="container">
    <div class="content">
        <div class="title">
            <h3>Welcome Back!</h3>
            <p>Login to your account</p>
        </div>
        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmitted(loginForm)">
                <div class="input-field">
                    <img class="icon" src="../../../assets/message_icon.png" alt="message icon">
                    <input type="email" formControlName="email" placeholder="Email">
                </div>
                <div class="input-field">
                    <img class=" icon" src="../../../assets/lock_icon.png" alt="lock icon">
                    <input [type]="(is_isvisible$ | async ) ? 'password' : 'text'" formControlName="password"
                        placeholder="Password">
                    <span (click)="viewPassword()"><img class="icon"
                            [src]="(is_isvisible$ | async ) ? '../../../assets/eye_slash_visible.png' : '../../../assets/eye_visible.png'">
                    </span>
                </div>
                <div class="sub-content">
                    <p class="recover-pass">Recover Password</p>
                    <p *ngIf="!(isAuthentycated$ | async)" class="incorrect">Inncorect email or/and password!</p>
                    <div class="sign-up">
                        <p>Don't have an account?<span class="sign-up-btn" (click)="onRegister(false)"> Sign
                                up</span>
                        </p>
                    </div>
                    <div class="submit">
                        <button class="submit-btn" mat-raised-button type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>