@import "../../styles/config";

.container {
  @include form-style;
  background-color: $light-primary;
  width: 443px;
  height: 548px;
  border-radius: 30px;
  padding: 44px 34px 44px 34px;
  display: flex;
}

@media (max-width: 768px) {
  .container {
    // background-color: aqua;
    width: 90vw;
  }
}
