@import "../../styles/config";
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  background-color: #edebe7;
  padding-top: 20px;

  .inventory-summary {
    width: 90%;
  }
  .inventory-container {
    margin-top: 20px;
    width: 90%;
    border-radius: 12px;
    background-color: $light-primary;

    .inventory-title {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      p {
        font-size: 17px;
        font-weight: 400;
        color: $font-grey-secondary;
      }
      .search-filter {
        display: flex;
        .input-field {
          height: 29px;
          width: 176px;
          border-radius: 15px;
          border: 1px solid $border-light;
          margin-right: 20px;
          input {
            border: none;
            width: 136px;
            height: 23px;
            outline: none;
            padding-left: 25px;
            font-size: 13px;
            font-family: $main-font;
          }

          i {
            color: $font-grey;
            height: 20px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-content {
    .inventory-container {
      .inventory-title {
        flex-direction: column;
      }
    }
  }
}
