<app-nav></app-nav>

<ng-container *ngIf="searchedCoffeeList$ | async as list">
    <div class="main-content">
        <app-inventory-summary [coffeeList]="list" (productAdded)="openDialog()"
            class="inventory-summary"></app-inventory-summary>

        <div class="inventory-container">
            <div class="inventory-title">
                <p>Inventory Items</p>
                <div class="input-field">
                    <img src="../../../assets/search.png" alt="search icon">
                    <input type="text" placeholder="Search" [formControl]="search">
                </div>
                <div class="input-field">
                    <img src="../../../assets/filter.png" alt="filter icon">
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <app-coffee-list [coffeeList]="list" (deleted)="coffeeDeleted($event)"
                (updated)="coffeeUpdated($event)"></app-coffee-list>
        </div>

    </div>
</ng-container>