<app-nav></app-nav>

<ng-container *ngIf="searchedCoffeeList$ | async as list">
    <div class="main-content">
        <app-inventory-summary [coffeeList]="list" (productAdded)="openDialog()"
            class="inventory-summary"></app-inventory-summary>

        <div class="inventory-container">
            <div class="inventory-title">
                <p>Inventory Items</p>
                <div class="search-filter">
                    <div class="input-field">
                        <img class="search-icon" src="../../../assets/search.png" alt="search icon">
                        <input type="text" placeholder="Search" [formControl]="search">
                    </div>
                    <div class="input-field filter">
                        <img src="../../../assets/filter.png" alt="filter icon">
                        <p>Filter</p>
                        <img src="../../../assets/dropdown.png" alt="dropdown icon"
                            class="dropdown profile dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <section class="dropdown-menu">
                            <div class="checkbox-section">
                                <mat-checkbox *ngFor="let filter of filtersOption">{{filter}}</mat-checkbox>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <app-coffee-list [coffeeList]="list" (deleted)="coffeeDeleted($event)"
                (updated)="coffeeUpdated($event)"></app-coffee-list>
        </div>

    </div>
</ng-container>