<div class="stock-inventory">
    <p><span class="stock">Stock Inventory</span></p>
    <div class="icon-profile-nav">
        <img src="../../../assets/bell_notification.png" class="icon" alt="bell notification">
        <img src="../../../assets/message_icon.png" class="icon" alt="message icon">
        <img src="../../../assets/avatar-female-2.jpg" alt="profile image" class="dropdown profile dropdown-toggle"
            type="button" data-bs-toggle="dropdown">
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">My account</a></li>
            <li><a class="dropdown-item" href="#">Shop website</a></li>
            <li><a class="dropdown-item" href="#" (click)="logOut()">Log Out</a></li>
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="inventory-summary">
        <div class="title">
            <p>Inventory Summary</p>
            <button (click)="openDialog()">+ Add a New Product</button>
        </div>
        <div class="content">
            <div class="all-products">
                <fa-icon [icon]="faBagShopping"></fa-icon>
                <p>All Products</p>
                <p class="number">333</p>
            </div>
            <div class="published-products">
                <div class="column">
                    <fa-icon [icon]="faChartLine"></fa-icon>
                    <p>All Products</p>
                    <p class="number">333</p>
                </div>
                <div class="column">
                    <fa-icon [icon]="faFolderClosed"></fa-icon>
                    <p>All Products</p>
                    <p class="number">333</p>
                </div>
            </div>
            <div class="low-stock">
                <fa-icon [icon]="faTriangleExclamation"></fa-icon>
                <p>All Products</p>
                <p class="number">333</p>
            </div>
            <div class="discounted">
                <fa-icon [icon]="faPercent"></fa-icon>
                <p>All Products</p>
                <p class="number">333</p>
            </div>
        </div>
    </div>

    <div class="inventory-container">
        <p>Inventory Items</p>
        <app-coffee-list *ngIf="coffeeList$ | async as list" [coffeeList]="list" (deleted)="coffeeDeleted($event)"
            (updated)="coffeeUpdated($event)"></app-coffee-list>
    </div>

</div>