.stock-inventory {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 26px;
  padding: 14px 21px 14px 21px;

  p {
    height: 36px;
    width: 150px;
    background-color: #fef5ea;
    border-radius: 15px;
    padding-top: 5px;

    text-align: center;

    .stock {
      font-size: 15px;
      font-weight: 300;
      padding-top: 10px;
    }
  }
  .icon-profile-nav {
    display: inline;
  }

  img {
    width: 24px;
    margin-left: 10px;
  }
  .profile {
    border-radius: 50%;
    cursor: pointer;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100vw;
  // height: 100%;
  background-color: #edebe7;
  padding-top: 20px;

  .inventory-container {
    margin-top: 20px;
    width: 1313px;
    border-radius: 12px;
    background-color: #ffffff;
    p {
      padding: 20px 0px 0px 20px;
    }

    p {
      font-size: 17px;
      font-weight: 400;
      color: #45464e;
    }
  }
}
