p {
  font-size: 13px;
  font-family: Avenir Next;
  padding-left: 0px;
  margin-top: 15px;
}
img {
  height: 15px;
}
.checkbox-section {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: Avenir Next;
}
