@import "../../styles/config";

.container {
  @include form-style;
  background-color: #ffffff;
  width: 443px;
  height: 548px;
  border-radius: 30px;
  padding: 44px 34px 44px 34px;
  display: flex;
}

.container.register {
  height: 600px;

  .content {
    .form {
      form {
        .sub-content {
          justify-content: center;
          .incorrect {
            color: red;
            text-align: center;
          }
          .sign-up {
            p {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }
}
