
.icon-lock:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-eye-off:before { content: '\e803'; } /* '' */
.icon-bell:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-trash-empty:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e80b'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
