@import "../../styles/config";
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .filter-item {
    font-size: 15px;
    font-family: $main-font;
    label {
      margin-right: 10px;
    }
  }
}
