<div class="dialog">
    <div class="dialog-title">
        <h1 mat-dialog-title>NEW PRODUCT</h1>
        <img [mat-dialog-close]="false" class="icon" src="../../../assets/x_icon.png" alt="close icon">
    </div>
    <form [formGroup]="coffeeForm" (ngSubmit)="onFormSubmit(coffeeForm)">
        <mat-dialog-content>
            <div class="content">
                <div class="left-column">
                    <input type="text" formControlName="name" placeholder="Product Name">
                    <span
                        *ngIf="!coffeeForm.get('name')?.valid &&(coffeeForm.get('name')!.dirty || coffeeForm.get('name')!.touched)"
                        class="error">Please
                        enter the name</span>
                    <input type="number" formControlName="code" placeholder="Product Code" readonly>
                    <select formControlName="category" class="form-select" aria-label="Default select example">
                        <option [value]="null" disabled>Choose Category</option>
                        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                    </select>
                    <input type="text" formControlName="price" placeholder="Selling Price">
                    <span
                        *ngIf="!coffeeForm.get('price')?.valid &&(coffeeForm.get('price')!.dirty || coffeeForm.get('price')!.touched)"
                        class="error">Please
                        enter the price</span>
                    <span>$99,000.00</span>
                    <input type="text" formControlName="quantity" placeholder="Quantity in Stock">
                    <select formControlName="producer" class="form-select" aria-label="Default select example">
                        <option [value]="null" disabled>Choose Producer</option>
                        <option *ngFor="let producer of producer" [value]="producer">{{producer}}</option>
                    </select>
                    <div class="discount-field">
                        <input type="number" formControlName="discount" placeholder="% Discount"
                            [readonly]="!(coffeeForm.get('discountToggle')!.valueChanges | async)">
                        <mat-slide-toggle formControlName="discountToggle">
                            <span>Add Discount</span>
                        </mat-slide-toggle>
                    </div>
                    <span *ngIf="!coffeeForm.get('discount')?.valid" class="error">Please select number between 1 and
                        100</span>
                </div>
                <div class="middle-column">
                    <textarea type="text" formControlName="description" placeholder="Short Description"></textarea>
                    <textarea type="text" formControlName="longDescription"
                        placeholder="Product Long Description"></textarea>
                    <span>Date Added</span>
                    <div class="date-field">
                        <img class="icon" src="../../../assets/calendar.png" alt="calendar icon">
                        <input type="text" formControlName="date" readonly placeholder="Date">
                    </div>
                </div>
                <div class="right-column">
                    <div class="upload">
                        <img class="icon" src="../../../assets/upload_cloud.png" alt="upload icon">
                        <input type="file" (change)="onFileSelected($event)">
                    </div>
                    <mat-slide-toggle formControlName="unPublished" class="slide-toggle">
                        <span>Save Unpublished</span>
                    </mat-slide-toggle>
                </div>
            </div>
        </mat-dialog-content>

        <mat-dialog-actions class="form-btn">
            <button type="submit" [mat-dialog-close]="coffeeForm" [disabled]="!coffeeForm.valid" class="btn">{{data ?
                "Update" :
                "Save"}}</button>
            <button class="btn cancel" [mat-dialog-close]="false">Cancel</button>
        </mat-dialog-actions>
    </form>
</div>