<div class="dialog">
    <div>
        <h1 mat-dialog-title>Coffee Form</h1>
    </div>
    <form [formGroup]="coffeeForm" (ngSubmit)="onFormSubmit(coffeeForm)">
        <mat-dialog-content>
            <div>
                <mat-form-field>
                    <mat-label>Product Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="coffeeForm.get('name')!.invalid">name is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Product Code</mat-label>
                    <input matInput formControlName="code">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Select Product Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let item of categories" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label>Category</mat-label>
                    <input matInput formControlName="category">
                </mat-form-field> -->
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quantity">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Quantity Unit</mat-label>
                    <input matInput formControlName="quantityUnit">
                </mat-form-field>
            </div>
            <div>
                <!-- <input type="number"> -->
                <mat-form-field>
                    <mat-label>Quantity In Stock</mat-label>
                    <input matInput formControlName="quantityInStock">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Discount</mat-label>
                    <input matInput formControlName="discount">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Long Description</mat-label>
                    <textarea matInput formControlName="longDescription"></textarea>
                </mat-form-field>
            </div>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput formControlName="date" readonly>
            </mat-form-field>
        </mat-dialog-content>
        <input type="file" (change)="onFileSelected($event)">

        <mat-dialog-actions class="form-btn">
            <button mat-button [mat-dialog-close]="false">Cancel</button>
            <button mat-button type="submit" [mat-dialog-close]="coffeeForm" class="confirm-btn">{{data ? "Update" :
                "Save"}}</button>
        </mat-dialog-actions>
    </form>
</div>