@import "../../styles/config";

.dialog {
  background-color: $light-secondary;
}

form {
  button.confirm-btn {
    @include btn-primary;
  }
}

.form-btn {
  display: flex;
  justify-content: end;
}
