<div>
    <h1 mat-dialog-title>Coffee Form</h1>
</div>
<form [formGroup]="coffeeForm" (ngSubmit)="onFormSubmit(coffeeForm)">

    <mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Origin</mat-label>
                <input matInput formControlName="origin">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-radio-group aria-label="Select an option" formControlName="process">
                <mat-label>Process</mat-label>
                <mat-radio-button value="1">Washed</mat-radio-button>
                <mat-radio-button value="2">Natural</mat-radio-button>
                <mat-radio-button value="3">Honey</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <section class="example-section" formGroupName="characteristic">
                <mat-label>Choose</mat-label>
                <mat-checkbox class="example-margin" [formControlName]="1">Fruity</mat-checkbox>
                <mat-checkbox class="example-margin" [formControlName]="2">Sweet</mat-checkbox>
                <mat-checkbox class="example-margin" [formControlName]="3">Nutty/Cocoa</mat-checkbox>
                <mat-checkbox class="example-margin" [formControlName]="4">Floral</mat-checkbox>
            </section>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">Cancel</button>
        <button mat-button type="submit" [mat-dialog-close]="coffeeForm">Save</button>
    </mat-dialog-actions>

</form>